<h1>Books</h1>

<%= link_to 'New Book', new_book_path %><br><br>

<% @books.each do |b| %>
	<div class="book_wrapper">
		<h3><%= link_to b.title, b %></h3>
		By: <%= b.author %>
		Likes: <%= b.likes %>
	</div>
<% end %>